---
import Layout from "../../../../templates/layout.astro";
import Navbar from "../../../../components/navbar.astro";
import { initAPI } from "../../../../utilities/apiprovider";
import { PertemuanGroup } from "../../../../components/presensi/pertemuan";

const myUNPAMToken = Astro.cookies.get("my_unpam_token").value as string;
const api = initAPI({ myUNPAMToken });

const { idmatkul, idkelas } = Astro.params;
const { nama_user, id_user } = api.myunpam.getTokenPayloadDecoded();
---

<Layout pageName="Login Page">
  <Navbar username={nama_user} nim={id_user} />

  <div class="h-screen w-full">
    <!-- pertemuanCollection={apiResponse.data} -->
    <PertemuanGroup
      params={{ idmatkul, idkelas }}
      astroCookie={{ myUNPAMToken }}
      client:visible
    />
  </div>
</Layout>
