---
import Layout from "../../../../templates/layout.astro";
import Navbar from "../../../../components/navbar.astro";
import { initAPI } from "../../../../utilities/apiprovider";
import { PertemuanGroup } from "../../../../components/pertemuan";

const api = initAPI(Astro.cookies);

const { idmatkul, idkelas } = Astro.params;
const { nama_user, id_user } = api.myunpam.getTokenPayloadDecoded();
const apiResponse = await api.presensi.getMatkulPresensi(idmatkul, idkelas);
---

<Layout pageName="Login Page">
  <Navbar username={nama_user} nim={id_user} />

  <div class="">
    <PertemuanGroup pertemuanCollection={apiResponse.data} />
  </div>
</Layout>
