---
import Layout from "../../templates/layout.astro";
import Navbar from "../../components/navbar.astro";
import { initAPI } from "../../utilities/apiprovider";

const myUNPAMToken = Astro.cookies.get("my_unpam_token").value as string;
const presensiToken = Astro.cookies.get("presensi_token").value as string;

const api = initAPI({ myUNPAMToken, presensiToken });

const { nama_user, id_user } = api.myunpam.getTokenPayloadDecoded();
---

<Layout pageName="Dashboard">
  <Navbar username={nama_user} nim={id_user} />
  <div class="flex px-5 justify-center items-center gap-4 h-screen text-white">
    <a
      href="/dashboard/myunpam"
      class="bg-palette-3 w-80 h-60 sm:w-3/5 sm:h-3/5 rounded-sm"
    >
      <div
        class="flex flex-col gap-3 h-full justify-center items-center duration-200 hover:scale-110"
      >
        <i class="fas fa-graduation-cap text-4xl md:text-9xl"></i>
        <h2 class="text-center text-sm sm:text-4xl font-bold">My UNPAM</h2>
      </div>
    </a>

    <a
      href="/dashboard/presensi"
      class="bg-palette-3 w-80 h-60 sm:w-3/5 sm:h-3/5 rounded-sm"
    >
      <div
        class="flex flex-col gap-3 h-full justify-center items-center duration-200 hover:scale-110"
      >
        <i class="fas fa-clipboard-user text-4xl md:text-9xl"></i>
        <h2 class="text-center text-[85%] sm:text-4xl font-bold">
          UNPAM<br />PRESENSI
        </h2>
      </div>
    </a>
  </div>
</Layout>
