---
import Layout from "../../../templates/layout.astro";
import Navbar from "../../../components/navbar.astro";
import { MaktulGroup } from "../../../components/presensi/matkul.tsx";

import { initAPI } from "../../../utilities/apiprovider";

const myUNPAMToken = Astro.cookies.get("my_unpam_token").value as string;
if (!myUNPAMToken) return Astro.redirect("/dashboard");

const api = initAPI({ myUNPAMToken });

const { nama_user, id_user } = api.myunpam.getTokenPayloadDecoded();
---

<Layout pageName="Presensi">
  <Navbar username={nama_user} nim={id_user} />
  <div class="h-sceen sm:h-[80%] w-full flex justify-center items-center">
    <MaktulGroup astroCookie={{ myUNPAMToken }} client:visible />
  </div>
</Layout>
