---
import Layout from "../templates/layout.astro";
---

<Layout pageName="Main Menu">
  <div class="h-full flex justify-center items-center flex-col text-white">
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-xl xl:text-4xl font-bold">🚀 UNPAM SuperApp ✨</h1>
      <p class="text-xs xl:text-base">
        Created with <span title="Kofeee">☕</span> By <a
          href="https://github.com/AlfatArdiansa"
          >@TheSevenZee / Alfat Ardiansa</a
        >
      </p>
      <a href="/login" class="w-full"
        ><button
          class="text-sm xl:text-base bg-palette-6 p-2 rounded-lg mt-2 w-full"
          >Start your jurney here!</button
        ></a
      >
      <a href="/login" class="w-full"
        ><button
          class="text-sm xl:text-base bg-palette-6 p-2 rounded-lg mt-2 w-full"
          >See UNPAM APP Status</button
        ></a
      >
      <a
        href="/changelog"
        class="w-full mt-2 text-center text-xs text-palette-6">Changelog</a
      >
    </div>
  </div>
</Layout>
