---
import NavbarComponent from "./navbar";
interface Props {
  username: string;
  nim: string;
}

const { username, nim } = Astro.props;
---

<div class="xl:h-10 text-white bg-palette-1 xl:px-32">
  <NavbarComponent username={username} nim={nim} client:visible />
</div>
