---
import Layout from "../../../templates/layout.astro";
import Navbar from "../../../components/navbar.astro";
import { initAPI } from "../../../utilities/apiprovider";
import Finance from "../../../components/myunpam/finance";
import Schedule from "../../../components/myunpam/schedule";
import ExamPDF from "../../../components/myunpam/exampdf";

const myUNPAMToken = Astro.cookies.get("my_unpam_token")?.value as string;

const api = initAPI({ myUNPAMToken });

const { nama_user, id_user } = api.myunpam.getTokenPayloadDecoded();
---

<Layout pageName="MyUNPAM">
  <Navbar username={nama_user} nim={id_user} />
  <div class="p-3 h-full">
    <h2 class="text-white font-bold text-2xl text-center my-6">Schedule</h2>
    <Schedule astroCookies={{ myUNPAMToken }} client:visible />
    <h2 class="text-white font-bold text-2xl text-center my-6">Finance</h2>
    <Finance astroCookies={{ myUNPAMToken }} client:visible />

    <h2 class="text-white font-bold text-2xl text-center my-6">Exam</h2>
    <ExamPDF astroCookies={{ myUNPAMToken }} client:load />
  </div>
</Layout>
